  <div class="form-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
     <div>



        <mat-form-field appearance="outline">
        <mat-label>User Name</mat-label>
       <input  matInput placeholder=""  id="username" formControlName="username">

       
 
        </mat-form-field>   
       <div class="error" *ngIf="loginForm.get('username')?.hasError('required') && loginForm.get('username')?.touched">
         User Name is required.
       </div>
       <div class="error" *ngIf="loginForm.get('username')?.hasError('username') && loginForm.get('username')?.touched">
         User Name is invalid.
       </div>
     </div>
     <div>
         <mat-form-field appearance="outline">
       <mat-label for="password">Password:</mat-label>
       <input  matInput  type="password" id="password" formControlName="password">
       </mat-form-field>
        <div class="error" *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
         Password is required.
       </div>
     </div>
     <div>
     <button  matButton="filled" type="submit">Login</button>
     </div>
   </form>
   </div>