<div class="header">
<nav class="nav-bar" mat-tab-nav-bar [tabPanel]="tabPanel">
  @for (item of links; track item.link) {
    <a mat-tab-link
      (click)="activeLink = item.link"
      [routerLink] = "item.link"
      [active]="activeLink == item.link"> {{item.label}} </a>
  }
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
<div *ngIf="isAuthenticated" class="logout_sec">
   <div>Hello <span *ngIf="currentUser | async as user" >{{user?.fname}}</span></div>
   <button class="logout_btn" matButton>Logout</button>
</div>
</div>