.toaster {
    position: fixed;
    right: 10px;
    bottom: -100px;

    .toaster_container{
       border-left: 3px solid darkred;
       border-bottom-right-radius: 10px;
       border-top-right-radius: 10px;
       width: 300px;
       padding: 10px;
           background-color: lightpink;
             color: darkred;
        font-weight: 500;

    .error-message {
        margin-top: 10px;
        color: darkred;
        font-weight: 500;
    }
    }
}
.toaster.show {
    bottom: 10px;
    transition:bottom ease-in-out 0.6s     ;
}