
// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.search-input {
 width: 100%;
 .mat-mdc-form-field-subscript-wrapper {
    display: none !important; 
}
}




.user-item  {  

    display: flex;
    justify-content: start;
    padding: 10px;
    margin: 20px;
    box-shadow: 0 0 30px #1d897833;

   border-radius: 15px;;
}
.profile { 

    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.label { 
        color: #939caa;
}
.data {
    width: 80%;
     display: flex;
    justify-content: space-between;
    align-items: center;

}
.data>* {
    flex-basis: 25%;
}

.actions { 
    display: flex;
    justify-content: center;
    width: 20%;

    div {
        margin: 20px;
    }
}


.form-container {
    width:50%;
    margin:auto;
    margin-top: 50px;
    .mat-mdc-form-field {
        width: 100%;
    }
    button { 
        width: 50%;
        margin: auto;
        display: block
    }
    .error { 
        color: #ba1a1a;
        font-size: 13px;
        margin-bottom: 15px;
        margin-top: -10px;

    }
}

@media (max-width:768px) {
    .form-container {
    width:90%;
    }
}

.button {
    border: 1px solid rgb(85, 26, 139);
    padding: 10px;
    background-color: white;
    color: rgb(85, 26, 139);
    text-decoration: none;
    border-radius: 10px;
}

.button:hover {
    border: 1px solid rgb(85, 26, 139);
    padding: 10px;
    background-color: rgb(85, 26, 139);
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.title_div {
    margin: 20px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

  .sortBy { 
        width:400px;
        .mat-mdc-form-field {
        width: 100%;
    }
    }